<p>
  <strong>Title:</strong>
  <%= @found.catagory %>
</p>

<p>
  <strong>Text:</strong>
  <%= @found.location %>
</p>

<p>
 <strong>Text:</strong>
 <%= @found.email %>
</p>

Go <a href = "/founds"> HERE </a> To View All
