<h1>Lost and Found</h1>



<p>Create a new <%= link_to 'Found', new_found_path %> Item<p>
<p>Submit a Description of A <%= link_to 'Lost', new_lost_path %> Item<p>


<p>Find me in app/views/welcome/index.html.erb</p>
