<p>
  <strong>Title:</strong>
  <%= @lost.catagory %>
</p>

<p>
  <strong>Text:</strong>
  <%= @lost.description %>
</p>

<p>
 <strong>Text:</strong>
 <%= @lost.email %>
</p>

Go <a href = "/losts"> HERE </a> To Submit
