<p>
  <strong>Catagory:</strong>
  <%= @lost.catagory %>
</p>

<p>
  <strong>Location:</strong>
  <%= @lost.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lost.description %>
</p>

<p>
 <strong>Email:</strong>
 <%= @lost.email %>
</p>

Go <a href = "/losts"> HERE </a> To Submit
